<!DOCTYPE html>
<html lang="vi" class="no-js mm-hover no-touch">

<head>
    <title>Hệ thống phân phối Sàn Gỗ Cao Cấp, Sàn Nhựa Chính Hãng</title>
    <meta charset="utf-8">
    <meta name="author" content="Floordi" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Tấm ốp tường - ốp trần trong  nhà Skywood; Sử dụng công nghệ bề mặt Homogenous - giúp cấu trúc sản phẩm chắc chắn, và độ bền màu kéo dài; Bảo hành 10 năm." />
    <!-- SEO Customize by Le Anh Dan 0936 669 339 -->
    <meta name="abstract" content="Công ty phân phối sàn gỗ tự nhiên và sàn gỗ công nghiệp nhập khẩu cao cấp" />
    <meta name="copyright" content="Copyright 2019 by Floordi" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="Googlebot" content="index,follow" />
    <!-- SEO Customize by Le Anh Dan End New -->
    <link href="static//favicon.png" rel="shortcut icon" />
    <link rel="canonical" href="static//tam-op-tuong-op-tran-trong-nha-ci121o/" />
    <link href="static/images/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&amp;subset=vietnamese" rel="stylesheet">
    <meta name="google-site-verification" content="W_nXoey8cbCAT8GyGZlA-zismVsU0hd_IV9cbk_IIZQ" />
    <meta property="fb:app_id" content="274491509760868" />
    <!-- SEO Customize by Le Anh Dan -->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Tấm ốp tường - ốp trần trong nhà CI121O" />
    <meta property="og:description" content="Tấm ốp tường - ốp trần trong  nhà Skywood; Sử dụng công nghệ bề mặt Homogenous - giúp cấu trúc sản phẩm chắc chắn, và độ bền màu kéo dài; Bảo hành 10 năm." />
    <meta property="og:image" content="/images/products/medium/Ceiling_Panel_CI101O-2.png" />
    <meta property="og:url" content="/tam-op-tuong-op-tran-trong-nha-ci121o/" />
    <meta property="og:site_name" content="FLOORDI.com - Hệ thống phân phối Sàn Gỗ Cao Cấp, Sàn Nhựa Chính Hãng" />
    <meta name="twitter:card" content="summary" />
    <!-- END SEO Customize by Le Anh Dan -->

    <link href="static/public/frontend/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="static/public/frontend/css/styles.css" media="all" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="static/public/frontend/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/engine1/style.css" />
    <script type="text/javascript" src="static/engine1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="static/Theme/css/btr-menu.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <link href="static/Theme/starter-template.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style type="text/css">
        :root .carbonad,
        :root #carbonads-container,
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle {
            display: none !important;
        }
    </style>
    <style type="text/css">
        .nav-menu a {
            font-size: 13px;
        }
        
        .nav-menu ul li a:hover {
            color: #f42f2c;
        }
    </style>
</head>

<body class="product">
    <button type="button" id="mobile-nav-toggle"><i class="lnr lnr-menu"></i></button>
    <header id="header" style="background: #fff">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <a href="{{ url_for('index')}}">
                    <div id="logo" style="margin: 0px; font-size: 30px;
                    background: linear-gradient(to right, #FF0000 0%, #00FF00 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    ">
                        Wood Floor
                    </div>
                </a>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep='san-go', origin=False)}}">
                            Sàn gỗ công nghiệp</a>
                            <ul>
                                {% for key, value in list_origin.items() %}
                                <li><a href="{{ url_for('list_product', typep='san-go', origin=key)}}">Sàn gỗ {{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ url_for('list_product', typep='sunny', origin=False)}}">Sàn ngoài trời</a></li>
                        <li><a href="{{ url_for('list_product', typep='conwood', origin=False)}}">Conwood</a></li>
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep='nep-chantuong', origin=False)}}">
                            Phụ kiện</a>
                            <ul>
                                <li><a href="{{ url_for('list_product', typep='chan-tuong', origin=False)}}">Chân tường</a></li>
                                <li><a href="{{ url_for('list_product', typep='nep', origin=False)}}">Nẹp</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->

    <!-- start banner Area -->
    <div id="main-body" class="clearfix">
        <div class="home-banners clearfix">
            <div class="container">
                <img alt="Khuyến mãi giảm giá" src="static/images/banners/tong-hop-khuyen-mai-thang8-2019.jpg" />
            </div>
        </div>
        <div class="product-view-top">
            <div class="container">
                <div id="main-content">
                    <div class="content-view" itemscope="" itemtype="http://schema.org/Article">
                        <div id="printdiv">
                            <div class="entry-heading">
                                <h3 itemprop="name">{{ data.name }}</h3>
                            </div>
                            <div class="entry-content">
                                {{ data.short_info }}
                                {{ data.long_info|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer id="footer" class="clearfix">
        <div class="footer-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 footer-left border-right">
                        <div class="clearfix">
                            <div class="widget-about-us">
                                <h1 id="site-title" class="widget-title"></h1> Hệ thống phân phối sỉ và lẻ các vật sản phẩm ván sàn bao gồm : conwood, sàn gỗ công nghiệp, sàn gỗ tự nhiên, sàn nhựa, sàn gỗ ngoài trời, nẹp, chân tường. Toàn bộ sản phẩm được cung cấp là các sản phẩm nhập khẩu chính hãng, có chất lượng cao, thông tin, bảo hành và độ uy tín cao để phục vụ nhu cầu của Quý khách hàng. Chúng tôi luôn sẵn sàng phục vụ.
                                <div class="contact-info">
                                    <ul>
                                        <li><img src="static/images/icons/home-address.png" width="16px"> 11 - 13 Trung Lương 7, Hoà Xuân, Cẩm Lệ, Đà Nẵng</li>
                                        <li><img src="static/images/icons/call-answer.png" width="13px"> 093 565 6586</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 footer-left border-right">
                        <img src="static/images/banners/banner-footer.jpg">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src="static/engine1/wowslider.js"></script>
    <script type="text/javascript" src="static/engine1/script.js"></script>

    <script src="./Theme/js/btr-menu.js"></script>
    <script>
        $(document).ready(function() {
            $("#navbar").btrmenu();
            $(".navbar-toggle").click(function() {
                var show_menu = $("#navbar").attr('class');
                if (show_menu == "navbar-collapse collapse in") {
                    $("#navbar").removeClass("in");
                    $(this).addClass("collapsed");
                }
            });
        });
    </script>
    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/hoverIntent.js"></script>
    <script src="static/js/superfish.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/mail-script.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>