<!DOCTYPE html>
<html lang="vi" class="no-js mm-hover no-touch">

<head>
    <title>Hệ thống phân phối Sàn Gỗ Cao Cấp, Sàn Nhựa Chính Hãng</title>
    <title>Tấm ốp tường - ốp trần trong nhà CI121O</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Tấm ốp tường - ốp trần trong  nhà Skywood; Sử dụng công nghệ bề mặt Homogenous - giúp cấu trúc sản phẩm chắc chắn, và độ bền màu kéo dài; Bảo hành 10 năm." />
    <!-- SEO Customize by Le Anh Dan 0936 669 339 -->
    <meta name="abstract" content="Công ty phân phối sàn gỗ tự nhiên và sàn gỗ công nghiệp nhập khẩu cao cấp" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="Googlebot" content="index,follow" />
    <!-- SEO Customize by Le Anh Dan End New -->
    <link href="/favicon.png" rel="shortcut icon" />
    <link rel="canonical" href="/tam-op-tuong-op-tran-trong-nha-ci121o/" />
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&amp;subset=vietnamese" rel="stylesheet">
    <meta name="google-site-verification" content="W_nXoey8cbCAT8GyGZlA-zismVsU0hd_IV9cbk_IIZQ" />
    <meta property="fb:app_id" content="274491509760868" />
    <!-- SEO Customize by Le Anh Dan -->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="Tấm ốp tường - ốp trần trong nhà CI121O" />
    <meta property="og:description" content="Tấm ốp tường - ốp trần trong  nhà Skywood; Sử dụng công nghệ bề mặt Homogenous - giúp cấu trúc sản phẩm chắc chắn, và độ bền màu kéo dài; Bảo hành 10 năm." />
    <meta property="og:image" content="/images/products/medium/Ceiling_Panel_CI101O-2.png" />
    <meta property="og:url" content="/tam-op-tuong-op-tran-trong-nha-ci121o/" />
    <meta name="twitter:card" content="summary" />
    <!-- END SEO Customize by Le Anh Dan -->

    <link href="static/public/frontend/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="static/public/frontend/css/styles.css" media="all" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="public/frontend/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/engine1/style.css" />
    <script type="text/javascript" src="static/engine1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="static/navbar.css" rel="stylesheet">
    <script src="static/assets/js/ie-emulation-modes-warning.js"></script>
    <link rel="canonical" href="static//docs/3.4/examples/navbar/">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/main.css">

    <style type="text/css">
        :root .carbonad,
        :root #carbonads-container,
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle {
            display: none !important;
        }
    </style>
    <style type="text/css">
        .nav-menu a {
            font-size: 13px;
        }
        
        .nav-menu ul li a:hover {
            color: #f42f2c;
        }
    </style>
</head>

<body class="product">
    <header id="header" style="background: #fff">
        <div class="container" style="min-height:100% width:80%">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            
            {% block body %}{% endblock %}
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <a href="{{ url_for('index')}}">
                    <div id="logo" style="margin: 0px; font-size: 30px;
                    background: linear-gradient(to right, #FF0000 0%, #00FF00 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    ">
                        Wood Floor
                    </div>
                </a>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep='san-go', origin=False)}}">
                            Sàn gỗ công nghiệp</a>
                            <ul>
                                {% for key, value in list_origin.items() %}
                                <li><a href="{{ url_for('list_product', typep='san-go', origin=key)}}">Sàn gỗ {{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ url_for('list_product', typep=1, origin=False)}}">Sàn ngoài trời</a></li>
                        <li><a href="{{ url_for('list_product', typep=1, origin=False)}}">Conwood</a></li>
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep=1, origin=False)}}">
                            Phụ kiện</a>
                            <ul>
                                <li><a href="{{ url_for('list_product', typep=1, origin=False)}}">Chân tường</a></li>
                                <li><a href="{{ url_for('list_product', typep=1, origin=False)}}">Nẹp</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area relative" id="home" style="margin-top: 15px; height: 700px">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-8 col-md-12">
                    <h4 class="text-white text-uppercase"></h4>
                    <h1>
								SÀN GỖ CAO CẤP				
							</h1>
                    <p class="text-white">
                        Sàn gỗ cao cấp, được nhập khẩu từ Đức, Thái, Malaysia... Hãy để chúng tôi đem những điều tuyệt vời nhất đến cho gia đình bạn.
                    </p>
                    <a href="#" class="primary-btn header-btn text-uppercase">Hãy gọi: 093 565 6586</a>
                </div>
            </div>
        </div>
    </section>
    <div style="padding-top: 20px; margin-top: 20px;">
        <div id="mainnav" class="hidden">
            <div class="container">
                <div class="navbar-header">
                    <button data-effect="off-canvas-effect-4" data-nav="#t3-off-canvas" data-pos="left" type="button" class="btn-inverse off-canvas-toggle visible-sm visible-xs">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="mobile-search visible-sm visible-xs">
                        <form method="post" action="/shop/search/">
                            <input class="form-control field" name="site_search" id="s" placeholder="tìm kiếm sản phẩm..." type="text">
                            <input class="btn-search" src="static/public/frontend/images/icon-search.png" alt="Tìm kiếm" type="image">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-body" class="clearfix">
            <div id="home-content" class="clearfix">
                <div class="container">
                    <div id="services" class="hidden-xs clearfix">
                        <div class="service-list service-1 hidden-sm style-1" style="margin-left: 271px;">
                            <div class="service-content"><span class="icon-image"> </span>
                                <div class="content">
                                    <div class="service-title">Sản phẩm chính hãng</div>
                                    <div class="service_other_text">Hàng nhập khẩu</div>
                                </div>
                            </div>
                        </div>
                        <div class="service-list service-2 style-1">
                            <div class="service-content"><span class="icon-image"> </span>
                                <div class="content">
                                    <div class="service-title">Miến phí vận chuyển</div>
                                    <div class="service_other_text">Trên toàn Đất Nước</div>
                                </div>
                            </div>
                        </div>
                        <div class="service-list service-5 style-1">
                            <div class="service-content">
                                <span class="icon-image"> </span>
                                <div class="content">
                                    <div class="service-title">Bảo hành chính hãng</div>
                                    <div class="service_other_text">Với một cuộc gọi của bạn</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-banners clearfix">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <img alt="san go cong nghiep Lamton D8809" class="img-responsive" src="static/images/banners/san-go-lamton-walnut-d8809-new-color.jpg" />
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <img alt="san go cong nghiep Lamton D2300" class="img-responsive" src="static/images/banners/san-go-lamton-walnut-dark-d2300-new-color.jpg" />
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div id="featured-products" class="clearfix">
                        <h3>Sản Phẩm</h3>
                        <p class="sub-title">Chúng tôi cam kết thông tin trên Website hoàn toàn đúng với chất lượng sản phẩm</p>
                        <div id="main-content">
                            <div id="ajax-pagination">
                                <div class="category-list">
                                    <div class="post">
                                        {% for d in data %}
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 image">
                                                <a href="{{ url_for('detail_info', id=d.id)}}">
                                                    <img src="{{ d.image }}" width="210" height="140">
                                                </a>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="margin-top: 35px;">
                                                <div class="clearfix">
                                                    <h4 class="entry-title" style="text-align: left">
                                                        <a href="{{ url_for('detail_info', id=d.id)}}" style="color: #585858"> {{ d.name }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <p class="description" style="text-align: left;">{{ d.short_info }}
                                                </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-banners clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                <img alt="sàn gỗ tự nhiên" class="img-responsive" src="static/images/banners/banner-san-go-tu-nhien-ekogreen.jpg" />
                            </div>

                            <div class="col-sm-6 hidden-xs">
                                <img alt="sàn nhựa Dongwha" class="img-responsive" src="static/images/banners/banner-san-go-floorpan.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-partners">
                <div class="container">
                    <h3>Các Thương Hiệu Hợp Tác</h3>
                    <div class="carousel-5 carousel-fade owl-carousel owl-theme">
                        <marquee>
                            <div class="owl-item">
                                <a title="Sàn Gỗ Floorpan" href="/san-go-floorpan/">
                                    <img alt="Sàn Gỗ Floorpan" title="Sàn Gỗ Floorpan" src="static/images/banners/floorpan.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="owl-item">
                                <a title="Skywood" href="/san-go-ngoai-troi-skywood/">
                                    <img alt="Skywood" title="Skywood" src="static/images/banners/skywood.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="owl-item">
                                <a title="Sàn thể thao" href="/">
                                    <img alt="Sàn thể thao" title="Sàn thể thao" src="static/images/banners/logo-sportfloor.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="owl-item">
                                <a title="ArtFloor" href="/">
                                    <img alt="ArtFloor" title="ArtFloor" src="static/images/banners/logo-artfloor.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="owl-item">
                                <a title="Sàn gỗ tự nhiên" href="/san-go-tu-nhien/">
                                    <img alt="Sàn gỗ tự nhiên" title="Sàn gỗ tự nhiên" src="static/images/banners/ekogreen.jpg" class="img-responsive">
                                </a>
                            </div>

                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="clearfix">
        <div class="footer-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 footer-left border-right">
                        <div class="clearfix">
                            <div class="widget-about-us">
                                 Hệ thống phân phối sỉ và lẻ các vật sản phẩm ván sàn bao gồm : conwood, sàn gỗ công nghiệp, sàn gỗ tự nhiên, sàn nhựa, sàn gỗ ngoài trời, nẹp, chân tường. Toàn bộ sản phẩm được cung cấp là các sản phẩm nhập khẩu chính hãng, có chất lượng cao, thông tin, bảo hành và độ uy tín cao để phục vụ nhu cầu của Quý khách hàng. Chúng tôi luôn sẵn sàng phục vụ.
                                <div class="contact-info">
                                    <ul>
                                        <li><img src="static/images/icons/home-address.png" width="16px"> 11 - 13 Trung Lương 7, Hoà Xuân, Cẩm Lệ, Đà Nẵng</li>
                                        <li><img src="static/images/icons/call-answer.png" width="13px"> 093 565 6586</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 footer-left border-right">
                        <img src="static/images/banners/banner-footer.jpg">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src="static/engine1/wowslider.js"></script>
    <script type="text/javascript" src="static/engine1/script.js"></script>

    <script src="./Theme/js/btr-menu.js"></script>
    <script>
        $(document).ready(function() {
            $("#navbar").btrmenu();
        });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="static/assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/hoverIntent.js"></script>
    <script src="static/js/superfish.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/mail-script.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>