<!DOCTYPE html>
<html lang="vi" class="no-js mm-hover no-touch">

<head>
    <title>Hệ thống phân phối Sàn Gỗ Cao Cấp, Sàn Nhựa Chính Hãng</title>
    <!-- END SEO Customize by Le Anh Dan -->

    <link href="static/public/frontend/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="static/public/frontend/css/styles.css" media="all" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="static/public/frontend/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/engine1/style.css" />
    <script type="text/javascript" src="static/engine1/jquery.js"></script>
    <link href="static/Theme/css/btr-menu.css" rel="stylesheet" />
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/main.css">
    <style type="text/css">
        :root .carbonad,
        :root #carbonads-container,
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle {
            display: none !important;
        }
    </style>
    <style type="text/css">
        .nav-menu a {
            font-size: 13px;
        }
        
        .nav-menu ul li a:hover {
            color: #f42f2c;
        }
    </style>
</head>

<body class="category">
    <header id="header" style="background: #fff">
        <div class="container" style="min-height:100% width:80%">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{message}}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            
            {% block body %}{% endblock %}
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <a href="{{ url_for('index')}}">
                    <div id="logo" style="margin: 0px; font-size: 30px;
                    background: linear-gradient(to right, #FF0000 0%, #00FF00 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    ">
                        Wood Floor
                    </div>
                </a>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep='san-go', origin=False)}}">
                            Sàn gỗ công nghiệp</a>
                            <ul>
                                {% for key, value in list_origin.items() %}
                                <li><a href="{{ url_for('list_product', typep='san-go', origin=key)}}">Sàn gỗ {{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ url_for('list_product', typep='sunny', origin=False)}}">Sàn ngoài trời</a></li>
                        <li><a href="{{ url_for('list_product', typep='conwood', origin=False)}}">Conwood</a></li>
                        <li class="menu-has-children"><a href="{{ url_for('list_product', typep='nep-chantuong', origin=False)}}">
                            Phụ kiện</a>
                            <ul>
                                <li><a href="{{ url_for('list_product', typep='chan-tuong', origin=False)}}">Chân tường</a></li>
                                <li><a href="{{ url_for('list_product', typep='nep', origin=False)}}">Nẹp</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->

    <!-- start banner Area -->
        <div>
            <div id="mainnav" class="hidden">
                <div class="container">

                </div>
            </div>
            <div id="main-body" class="clearfix">

                <div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
                    <div class="container">
                        <span typeof="v:Breadcrumb">
        <i class="fa fa-home"></i> 
        <a class="icon-home" href="/" title="Trang chủ" rel="v:url" property="v:title">Trang chủ</a></span> /

                        <span class="current">Sản phẩm tìm kiếm</span>

                    </div>
                </div>
                <div class="home-banners clearfix">
                    <div class="container">
                        <img alt="Khuyến mãi giảm giá" src="static/images/banners/tong-hop-khuyen-mai-thang8-2019.jpg" />
                    </div>
                </div>
                <div class="container">
                    <div id="layout-colleft">
                        <div class="container">
                            <div class="page-header">
                                <h1><span>Danh sách sản phẩm</span></h1>
                            </div>
                            <div class="refine-search clearfix box">
                                <div class="product-grid">                                    
                                    <div class="row">
                                        {% for d in data %}
                                        <div class="product-cols" style="width: 250px">
                                            <div class="product-block">
                                                <div class="thumbnail-item">
                                                    <a title="Nẹp Nhựa F Kết Thúc Sàn F8-09" href="{{ url_for('detail_product', id=d.id)}}">
                                                        <img src="{{ d.image }}" alt="{{ d.name }}" title="{{ d.name }}" class="img-responsive" style="height:201.781px; width:201.781px">
                                                    </a>
                                                </div>

                                                <div class="product-meta">
                                                    <h4 class="name"><a href="{{ url_for('detail_product', id=d.id)}}" title="{{ d.name }}">{{ d.name }}</a></h4>
                                                    <div class="price"><span class="price-new" ><span class="unit" style="color: #FF0000;">{{ d.price }}đ/m2</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loader" class="hidden">
                    <div id="loadersmall"></div>
                </div>
            </div>
        </div>
        <footer id="footer" class="clearfix">
            <div class="footer-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 footer-left border-right">
                            <div class="clearfix">
                                <div class="widget-about-us">
                                    <h1 id="site-title" class="widget-title"></h1> Hệ thống phân phối sỉ và lẻ các vật sản phẩm ván sàn bao gồm : conwood, sàn gỗ công nghiệp, sàn gỗ tự nhiên, sàn nhựa, sàn gỗ ngoài trời, nẹp, chân tường. Toàn bộ sản phẩm được cung cấp là các sản phẩm nhập khẩu chính hãng, có chất lượng cao, thông tin, bảo hành và độ uy tín cao để phục vụ nhu cầu của Quý khách hàng. Chúng tôi luôn sẵn sàng phục vụ.
                                    <div class="contact-info">
                                        <ul>
                                            <li><img src="static/images/icons/home-address.png" width="16px"> 11 - 13 Trung Lương 7, Hoà Xuân, Cẩm Lệ, Đà Nẵng</li>
                                            <li><img src="static/images/icons/call-answer.png" width="13px"> 093 565 6586</li>
                                            <!--<li><img src="images/icons/mail.png" width="16px"> info@floordi.com</li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 footer-left border-right">
                            <img src="static/images/banners/banner-footer.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="static/Theme/js/btr-menu.js"></script>
    <script>
        $(document).ready(function() {
            $("#navbar").btrmenu();
        });
    </script>
    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="static/js/easing.min.js"></script>
    <script src="static/js/hoverIntent.js"></script>
    <script src="static/js/superfish.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/parallax.min.js"></script>
    <script src="static/js/mail-script.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>